:root {
  --primary-green: #0b3d2e;     /* Phthalo-style deep green */
  --accent-green: #1f7a5a;      /* Buttons / highlights */
  --background-light: #f6f4ef;  /* Soft off-white */
  --text-dark: #1c1c1c;
  --text-light: #ffffff;
}

body { /* no dot or # means a tag */
    font-family: Arial, sans-serif; /* prioritizes Arial, but if that fails resort to sans-serif */
    background-color: var(--primary-green);;
    margin: 0;
    padding: 0;
}

.container { /* dot refers to the class I created in index.html*/
    width: 80%;
    margin: auto;
    padding: 20px;
    background-color: var(--background-light);
    border-radius: 10px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

#message { /* spaces apart the paragraphs */
    white-space: pre-line;
}

h1, h2 {
  color: var(--primary-green);
}

button {
  background-color: var(--accent-green);
  color: var(--text-light);
  margin-top: 10px;
  border: none;
  padding: 8px 14px;
  border-radius: 6px;
  cursor: pointer;
  font-size: 14px;
}

button:hover {
  background-color: #145c45;
}

.fade {
    opacity: 0;
    transition: opacity 0.4s ease-in-out; /* slowly fades in the id'd element (contactMessage) */
}

.fade.show { /* appearance when the message is revealed */
    opacity: 1;
}

.img {
  width: 160px;
  height: 160px;
  object-fit: cover;
  border-radius: 50%;
  border: 4px solid var(--accent-green);
  display: block;
  margin: 20px;
}
